
.lt_main .lt_nav {
  padding: 10px;
}
.lt_main .lt_nav li {
  width: 33.3%;
}
.lt_main .lt_nav li a {
  display: block;
  width: 100%;
}
.lt_main .lt_product {
  padding: 10px;
}
.lt_main .lt_product li {
  width: 48%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
.lt_main .lt_product li:nth-child(2n-1) {
  margin-right: 4%;
}
.price  {
  color: #e92322;
  margin-right: 5px;
}
.oldPrice  {
  text-decoration: line-through;
}
