html,body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}

.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}
/* 布局上下固定,中间自适应 */
/* 公共头部 */
.lt_header {
  height: 45px;
  background-color: #006699;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;   
  padding: 0 45px; 
}
.lt_header .icon_left,
.lt_header .icon_right {
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header h3 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  line-height: 45px;
  font-size: 20px;
  margin: 0;
}
/* 公共内容 */
.lt_main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* ★由于mui的区域滚动是基于定位实现的,所以父元素要有定位★ */
  position: relative;
}
/* 公共底部 */
.lt_footer {
  height: 55px;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.lt_footer li {
  width: 25%;
}
.lt_footer a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 8px;
}
.lt_footer a p {
  color: #fff;
}
.lt_footer a.current {
  color: orange;
}
.lt_footer a.current p {
  color: orange;
}

/* 公共搜索框 */
.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search .search_input {
  font-size: 12px;
  margin: 0;
  height: 34px;
  border: 1px solid #479FFF;
  border-radius: 5px
}
.lt_search .search_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}


/* 公共产品模块样式 */
.lt_product {
  padding: 10px;
}
.lt_product li {
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}
.lt_product li:nth-child(2n-1) {
  margin-right: 4%;
}
.lt_product li .price {
  color: #e92322;
  margin-right: 5px;
}
.lt_product li .oldPrice {
  text-decoration: line-through;
}