.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search .search_input {
  font-size: 12px;
  margin: 0;
  height: 34px;
  border: 1px solid #479FFF;
  border-radius: 5px
}
.lt_search .search_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
.lt_history {
  padding: 0 10px;
  font-size: 12px;
}
.lt_history .lt_title {
  color: #666;
  height: 30px;
  line-height: 30px;
}
.lt_history .lt_content ul {
  border: 1px dashed red;
}
.lt_history .lt_content li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history .lt_content li:last-child {
  border-bottom: none;
}
.lt_history .lt_content li a {
  padding: 0 10px;
}
.lt_history .lt_content li i {
  line-height: 30px;
}